*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    background-color: rgb(0, 0, 0);
    font-size: 1.75rem;
    line-height: 1.0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
}

.flexWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

h1,
h2,
h3,
h4
{
    /* BG color is just for visibility while building */
    background-color: rgb(248, 7, 176);
    color: beige;
    font-weight: 700;
    font-size: 3.0rem;
    padding: 0 1rem;
}

h2,
h3
{
    font-family: "Ephesis";
    font-size: 10rem;
    padding: 20% 0 0 10%;
    text-align: left;
}

p
{
    /* BG color is just for visibility while building */
    background-color: darkgreen;
    font-size: 2.5rem;
}

header,
footer
{
    /* BG color is just for visibility while building */
    background-color: brown;
    width: 100vw;
    height: 5%;
    text-align: center;
}

main
{
    display: flex;
    /* width: 100vw; */
    margin: .5rem 0;
}

.menu
{
    /* BG color is just for visibility while building */
    background-color: blue;
    top: 0;
    padding: 5% 5%;
    margin: 0 .5rem;
    font-size: 2.4rem;
}

.sticky
{
    position: sticky;
    top: 15rem;
}

.menu a
{
    color: rgb(255, 234, 112);
    text-decoration: none;
}

.menu img
{
    /* height: auto; */
    position: relative;
    top: 0;
    right: 1rem;
    margin-bottom: 10%;
    width: 5rem;
    opacity: 0.9;
    border-radius: 0 12px 12px 0px;
}

.menu ul,
li
{
    padding: 5rem 0;
}

.menu .material-icons
{
    display: none;
    padding-right: 2rem;
    vertical-align: middle;
}

.menuItem
{
    font-weight: 500;
}

.menu img:hover,
.menuItem:hover,
i:hover
{
    color: rgb(255, 217, 0);
    transform: scale(1.2);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.menu img:hover
{
    box-shadow: inset 0 0 8px rgba(255, 217, 0, 1), 0 0 15px rgba(255, 217, 0, 1);
}

.swap
{
    /* BG color is just for visibility while building */
    background-color: blueviolet;
    width: 100vw;
    color: aliceblue;
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column; */
}

.mainSection
{
    width: 100vw;
}

.content
{
    min-height: 100vh;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
}

.contentBackground
{
    position: absolute;
    background-image: url(../images/stars.jpg);
    background-size: contain;
    height: 100vh;
    /* overflow: hidden; */
    z-index: 1;
}

.projectList
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5%;
    justify-content: center;
}

.cardColumn
{
    flex: 1 0 30%;
    /* Affects the size of cards for row */
    max-width: 80rem;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.pCard
{
    height: 100%;
}

.pCard img
{
    max-width: 100%;
    max-height: 100%;
}

#profilePic
{
    max-width: 30%;
    float: right;
    margin: 5%;
    border-radius: 20px;
}

.parallax
{
    height: 50vh;
    /* position: relative; */
    background-image: url(../images/binary-code.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    /* overflow: hidden; */
    animation: sideScrollAnimation 10s infinite linear reverse;
    opacity: 0.8;
}

footer
{
    /* margin-top: auto; */
}

@keyframes sideScrollAnimation
{
    from
    {
        background-position: 0 0;
    }

    to
    {
        background-position: 100% 0;
    }
}

@media screen and (max-width: 1440px)
{
    .cardColumn
    {
        flex: 1 0 50%;
    }
}

@media screen and (max-width: 768px)
{
    .menu
    {
        padding: 3% 0 0 3%;
        width: 12%;
    }

    .menu ul,
    li
    {
        padding: 4.0rem 0.1rem;
    }

    .menu .menuItem
    {
        display: none;
    }

    .menu .material-icons
    {
        display: block;
    }

    /* .menu img
    {
        width: 100%;
        right: 0.5rem;
    } */

    p
    {
        font-size: 1.75rem;
    }

    h2
    {
        font-size: 6rem;
        padding: 5% 0 0 10%;
    }

    h3
    {
        font-size: 8rem;
        padding: 20% 0 0 5%;
    }

    h4
    {
        font-size: 2.0rem;
    }

    #profilePic
    {
        margin: 0;
        max-width: 75%;
        float: unset;
    }

    .parallax
    {
        height: 25vh;
    }

    .cardColumn
    {
        flex: 1 0 100%;
    }
}

